<<<<<<< HEAD
@media (max-width: 1024px) {
  .videoPlayer {
    padding-top: 56.25%;
    position: relative;
    max-width: 1024px;
  }
}

.videoPlayer {
    padding-top: 56.25%;
    position: relative;
  }
=======
.videoPlayer{
 padding-top: 56.25%;
 position: relative;
 max-width: 1024px;
}
>>>>>>> ba398a967b269625a4765c67b735b096315a69ae
